.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.error_wrap img {
  text-align: center;
}
.heartbeat {
  animation: global(heartbeat) 0.85s ease-in-out infinite;
  transform-origin: center;
}
